// containers
$smallContainer: 700px;
$container: 1280px;


// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $textColor;
  font-size: $fontNormal;
  font-family: 'Roboto', sans-serif;
}

section {
  margin: 80px 0;
}

// mix
.container {
  max-width: $container;
  margin: 0 auto;

  &.container--small {
    max-width: $smallContainer;
    margin: 0 auto;
  }
}

.text-center {
  text-align: center;
}

.debug {
  background-color: pink;
}
