// colors
$mainColor: #1473e6;
$mainColorDark: #0d66d0;
$textColor: #2c2c2c;

// font sizes
$fontSmall: 14px;
$fontNormal: 18px;
$fontParHero: 22px;
$fontTitleHero: 44px;
$fontBig: 34px;

// height nav
$navHeight: 80px;
